body {
	background-color: white;
	font-family: Arial;
}

.container {
	padding: 2%;
	width: 80%;
	margin: 0 auto;
	border: 1px solid orange;
	border-radius: 10px;
}


header h1 {
	font-size: 250%;
	margin: 0;
	background-color: orange;
	padding: 6px;
	width: 220px;
	border-radius: 20px;
	text-shadow: 0 0 10px rgba(0, 0, 0, .4);
	box-shadow: 0 20px rgba(0, 0, 0, .2) inset;
	color: white;
}


header h2 {
	padding-top: 10px;
	margin: 0;
}

.informacao-do-site {
	width: 80%;
	margin: 20px auto;
	background-color: rgba(255, 165, 0);
	padding: 20px;
	text-align: center;
	font-size: 20px;
	font-weight: none;
	box-shadow: 0 0 10px rgba(0, 0, 0, 1) inset;
	border-radius: 20px;

}

.informacao-de-integrantes {
	
}


.container-de-imagem {
	margin: 40px auto;
	text-align: center;
}

img {
	width: 450px;
	margin: 0 25%;
	box-shadow: 0 0 10px rgba(0, 0, 0, .9);
}


.historico {
	border: 1px solid orange;
	padding: 10px;
	text-align: center;
	font-size: 25px;
	margin: 15px;


}

.informacao-de-integrantes legend {
	font-size: 25px;
}
